.form {
  width: fit-content;
  align-items: center;
  margin: 20px;

  > * {
    margin-bottom: 10px;
  }

  label {
    margin: 0 10px 0 0;
  }

  label:hover {
    cursor: pointer;
  }

  button {
    width: 100px;
  }

  .checkboxes > * {
    margin-right: 20px;
  }

  .copy:hover {
    cursor: pointer;
  }

  .result {
    margin-left: 10px;
  }

  .crypto > span {
    label {
      margin-left: 10px;
    }
    input {
      width: 50px;
    }
  }
}

.hide {
  visibility: hidden;
}

.info {
  margin: 20px;

  .table {
    width: fit-content;

    .error {
      background-color: lightcoral;
    }

    .in-progress {
      background-color: lightblue;
    }

    .done {
      background-color: yellowgreen;
    }

    .string-before {
      background-color: lightblue;
    }

    .string-after {
      background-color: darkolivegreen;
    }

    td {
      text-align: center;
    }
  }
}
