<div class="form">
  <div class="input">
    <input [disabled]="disable" #input class="form-control" type="password">
    <div *ngIf="!disable" class="errors">
      <span *ngIf="timeChecking.isInUse">У вас є {{ secondForShow }} секунд, щоб ввести пароль</span>
      <span *ngIf="numberOfInputs.isInUse">
        <span *ngIf="+numberOfInputs.additionalValue - numberOfTrying">У вас є {{ numberOfInputs.additionalValue - numberOfTrying }} спроб, щоб ввести пароль</span>
        <span *ngIf="!(+numberOfInputs.additionalValue - numberOfTrying)">У вас немає права на помилку</span>
      </span>
    </div>
    <div *ngIf="disable" class="errors">
      <span>Чекайте {{ secondForShow }} секунд до введення</span>
    </div>
  </div>
  <button [disabled]="disable" class="btn btn-primary" (click)="enter(input)">Вхід</button>
</div>
