.form {
  margin: 20px;

  div {
    display: flex;
    align-items: center;
  }

  label {
    margin: 0;
  }

  .input {
    width: 250px;
    margin: 0 10px;
    position: relative;

    .feedback {
      position: absolute;
      top: 35px;
      display: block;

      div {
        margin-top: -5px;
      }

      div:first-child {
        margin: 0;
      }
    }
  }
}
