<div class="form" [ngClass]="settings.isAnimation ? 'hide' : ''">
  <div>
    <label for="text">Введіть текст</label>
    <input id="text" type="text" [(ngModel)]="text">
    <span class="result" *ngIf="text === translatedText && algorithm && algorithm.result && translatedMethod === selectedMethod">
      <img src="https://img.icons8.com/android/24/000000/arrow.png" alt="arrow"/>
      {{ algorithm?.result }}
      <img class="copy" src="https://img.icons8.com/doodle/24/000000/spinner-arrow.png" alt="copy" (click)="useResult()"/>
    </span>
  </div>

  <div class="checkboxes">
    <span>
      <label for="isAnimation">Чи потрібна анімація</label>
      <input id="isAnimation" type="checkbox" [(ngModel)]="settings.isNeedAnimation">
    </span>

    <span>
      <label for="isBack">Режим розшифрування</label>
      <input id="isBack" type="checkbox" [(ngModel)]="settings.isBack">
    </span>
  </div>

  <div class="crypto">
    <label for="algorithmType">Тип шифрування</label>
    <select (change)="changeAlgorithm($event.target.value)" name="algorithmType" id="algorithmType">
      <option value="{{ method.STANDARD }}">стандартне</option>
      <option value="{{ method.SYMBOL }}">символьне</option>
      <option value="{{ method.SYMBOL_CUSTOM }}">символьне кастомне</option>
      <option value="{{ method.NUMBER_CUSTOM }}">числове кастомне</option>
    </select>

    <span *ngIf="selectedMethod === method.SYMBOL || selectedMethod === method.SYMBOL_CUSTOM">
      <label for="changeX">Зміщення по рядку</label>
      <input id="changeX" type="number" [(ngModel)]="settings.additionalRowIndex">
    </span>

    <span *ngIf="selectedMethod === method.SYMBOL || selectedMethod === method.SYMBOL_CUSTOM">
      <label for="changeY">Зміщення по колонці</label>
      <input id="changeY" type="number" [(ngModel)]="settings.additionalColIndex">
    </span>
  </div>

  <button (click)="click()" class="btn btn-primary">Магія</button>
</div>

<div class="info">
  <table class="table table-bordered">
    <tr>
      <td *ngFor="let part of settings.parts"
        [ngClass]="{
          'error': part.status === status.ERROR,
          'in-progress': part.status === status.IN_PROGRESS,
          'done': part.status === status.DONE
        }">
        {{ part.before }}
      </td>
    </tr>
    <tr>
      <td *ngFor="let part of settings.parts">
        {{ part.result }}
      </td>
    </tr>
  </table>

  <table class="table table-bordered">
    <tr *ngFor="let line of settings.code">
      <td *ngFor="let cell of line">
        <span>
          <span *ngFor="let c of cell.slice(0, cell.length - 1).split('')">{{ c }}/</span>
          <span>{{ cell[cell.length - 1] }}</span>
        </span>
      </td>
    </tr>
  </table>
</div>
