.main {
  display: flex;
  margin: 20px;
}

.form {
  width: fit-content;
  align-items: center;
  margin-right: 20px;

  > div {
    margin-bottom: 10px;
  }

  input {
    margin-left: 10px;
  }

  label:hover {
    cursor: pointer;
  }

  button {
    width: 100px;
  }
}

.hide {
  visibility: hidden;
}

.info {
  width: fit-content;
  img {
    width: 16px;
  }

  img:hover {
    cursor: pointer;
  }

  .table {
    margin: 20px auto;
    width: fit-content;

    .string-before {
      background-color: lightblue;
    }

    .string-after {
      background-color: darkolivegreen;
    }

    td {
      text-align: center;
    }
  }
}
