.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;

  > div {
    width: 100%;
    margin-bottom: 10px;
  }

  .first-block {
    display: flex;

    label {
      white-space: nowrap;
    }

    input {
      width: 100%;
    }
  }

  .second-block {
    display: flex;

    .checkboxes {
      width: 65%;
      margin-right: 10px;

      div {
        white-space: nowrap;
      }

      div:last-child > label{
        margin-bottom: 0;
      }
    }

    button {
      width: 100%;
    }
  }

  input {
    margin-left: 10px;
  }

  label:hover {
    cursor: pointer;
  }

  button {
    width: 100px;
  }
}

img {
  width: 16px;
}

img:hover {
  cursor: pointer;
}

.table {
  margin: 20px auto;
  width: fit-content;

  .string-before {
    background-color: lightblue;
  }

  .string-after {
    background-color: darkolivegreen;
  }

  td {
    text-align: center;
  }
}

.hide {
  visibility: hidden;
}
