.header {
  margin: 20px;
  font-size: 32px;
  font-weight: 500;
}

.header-1 {
  font-size: 20px;
  font-weight: 500;
}

.forms {
  display: flex;
}

.form {
  margin: 0 20px;
  width: fit-content;

  div {
    display: flex;
    align-items: center;
    position: relative;

    .view-password-icon {
      position: absolute;
      left: 345px;

      img {
        width: 20px;
      }

      img:hover {
        cursor: pointer;
      }
    }

  }

  label {
    margin: 0;
  }

  .input {
    width: 250px;
    margin: 0 10px;
    position: relative;

    .feedback {
      position: absolute;
      top: 35px;
      display: block;

      div {
        margin-top: -5px;
      }

      div:first-child {
        margin: 0;
      }
    }
  }
}

.error-settings {
  .error-info {
    display: flex;
    align-items: center;
    height: 40px;
  }

  label {
    margin: 0 10px;
  }

  .form-control {
    width: 100px;
  }
}

.errors-settings-container {
  display: flex;
  flex-direction: column;
}
.error-settings:last-child {
  margin-top: 50px;
}
